<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yy.lvf.camera"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- uses feature能让google play将应用和不支持此功能的设备区分开来 -->
    <uses-feature android:name="android.hardware.camera.any" />
    <uses-feature android:name="android.hardware.camera.autiofocus" />
    <uses-feature android:name="android.hardware.camera.flash" />
    <!-- 替换相机的自动白平衡,使用android.colorCorrection -->
    <uses-feature android:name="android.hardware.camera.capability.manual_post_processing" />
    <!-- 控制曝光时间和灵敏度 -->
    <uses-feature android:name="android.hardware.camera.capability.manual_sensor" />
    <!-- 保存dng文件,并提供dng文件元数据 -->
    <uses-feature android:name="android.hardware.camera.capability.raw" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name=".CameraActivity2" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>