<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.android.yy.lvf"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="21"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:name=".Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".Standard"
            android:allowTaskReparenting="true"
            android:launchMode="standard">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".SingleTop"
            android:launchMode="singleTop"/>
        <activity
            android:name=".SingleTask"
            android:launchMode="singleTask"
            android:taskAffinity="com.example.hello"/>
        <activity
            android:name=".SingleInstance"
            android:launchMode="singleInstance"/>

        <service
            android:name=".RemoteComputService"
            android:process="com.android.yy.lvf.remote"/>
    </application>

</manifest>